.container-fluid,
.row {
  padding: 0;
  margin: 0;
  --bs-gutter-x: 0;
  --bs-gutter-y: 0;
}
#div1 {
  height: 50vh;
  width: 50vw;
  text-align: center;
  background: #000046; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #1cb5e0,
    #000046
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #1cb5e0,
    #000046
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#div2 {
  overflow-y: scroll;
  height: 50vh;
  width: 50vw;
  text-align: center;
  background: #283c86; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #45a247,
    #283c86
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #45a247,
    #283c86
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#div2::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}
#div2::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}
#div2::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #d62929;
}

#div3 {
  height: 50vh;
  width: 50vw;
  text-align: center;
  background: #654ea3;
  background: -webkit-linear-gradient(to bottom, #eaafc8, #654ea3);
  background: linear-gradient(to bottom, #eaafc8, #654ea3);
}

#div4 {
  height: 50vh;
  width: 50vw;
  text-align: center;
  background-color: #d9afd9;
  background-image: linear-gradient(0deg, #d9afd9 0%, #97d9e1 100%);
}
input[type="number"] {
  margin: 2%;
}
form {
  max-width: 300px;
  padding: 10px 20px;
  background: #f4f7f8;
  border-radius: 8px;
}
@media screen and (min-width: 480px) {
  form {
    max-width: 480px;
  }
}
